fastapi==0.115.12
fastapi[standard]
python-multipart
pandas
numpy
speechbrain==1.0.3
transformers==4.57.1
torch
torchaudio
librosa
soundfile
pyngrok
git+https://github.com/beethogedeon/deep-translator
git+https://github.com/beethogedeon/OpenVoice
openai-whisper==20250625
logging
uvicorn