fastapi==0.115.12
fastapi[standard]
python-multipart
pandas
numpy
speechbrain==1.0.3
transformers==4.57.1
torch
torchaudio
librosa
soundfile
pyngrok
git+https://github.com/beethogedeon/deep-translator
openai-whisper==20250625
faster-whisper
whisper-timestamped
unidecode
eng_to_ipa
pypinyin
cn2an
wavmark
logging
uvicorn